[user]
  email = edvard.thornros@gmail.com
  name = Edvard Thörnros
  signingkey = /home/ed/.ssh/signing_ed25519
[log]
  abbrevCommit = true
  oneline = true
  graph = true
[add]
  verbose = true
[pull]
  rebase = false
[push]
  default = tracking
  followTags = true
[commit]
  verbose = true
  # gpgsign = true
[status]
  short = true

[rerere]
  enable = true

[maintenance]
	repo = /home/ed/Code/pay-backend

[alias]
  hide = update-index --assume-unchanged
  lg = log --graph --branches --tags --pretty=format:'%C(auto)%h%d %aN (%G?) %ar%n%<(50,trunc)%s%Creset%n'
  undo = reset HEAD~
[init]
  defaultBranch = main

[delta]
  plus-style = "bold syntax #051005"
  minus-style = "bold syntax #200505"
  syntax-theme = zenburn
  navigate = true
  line-numbers = true

[interactive]
  diffFilter = delta --color-only

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[branch]
	sort = -committerdate
