* {
	background:                      #f2cdcd;
	bordercolor:                     #110011;
	separatorcolor:                  #110011;
	normal-background:               #f2cdcd;
	normal-foreground:               #110011;
  alternate-normal-background:     #f2cdcd;
	alternate-normal-foreground:     #110011;
	selected-normal-background:      #b4befe;
	selected-normal-foreground:      #110011;
	active-background:               #f2cdcd;
	alternate-active-background:     #f5e0dc;
	active-foreground:               #b4befe;
	selected-active-background:      #b4befe;
	selected-active-foreground:      #110011;
	urgent-background:               #110011;
	urgent-foreground:               #eba0ac;
	alternate-urgent-background:     #f2cdcd;
	selected-urgent-background:      #eba0ac;
	selected-urgent-foreground:      #110011;
	alternate-normal-foreground:     @normal-foreground;
	alternate-urgent-foreground:     @urgent-foreground;
	alternate-active-foreground:     @active-foreground;
	foreground:                      @normal-foreground;
}

* {
  border-color: @foreground;
  background-color: @background;
  text-color: @normal-foreground;
  spacing: 0;
  width: 512px;
}

inputbar {
  border: 0 0 0px 0;
  children: [prompt,entry];
}

prompt {
  padding: 8px;
  border: 0 0px 0 0;
}

textbox {
  border: 0 0 0px 0;
  padding: 8px 8;
  text-color: @foreground;
}

entry {
  padding: 8px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
  border-color: @separatorcolor;
}

element {
  border: 0 0 0px 0;
  padding: 8;
}

element normal.normal {
    text-color: @normal-foreground;
    background-color: @normal-background;
}
element normal.urgent {
    text-color: @urgent-foreground;
    background-color: @urgent-background;
}
element normal.active {
    text-color: @active-foreground;
    background-color: @active-background;
}
element selected.normal {
    text-color: @selected-normal-foreground;
    background-color: @selected-normal-background;
}
element selected.urgent {
    text-color: @selected-urgent-foreground;
    background-color: @selected-urgent-background;
}
element selected.active {
    text-color: @selected-active-foreground;
    background-color: @selected-active-background;
}
element alternate.normal {
    text-color: @alternate-normal-foreground;
    background-color: @alternate-normal-background;
}
element alternate.urgent {
    text-color: @alternate-urgent-foreground;
    background-color: @alternate-urgent-background;
}
element alternate.active {
    text-color: @alternate-active-foreground;
    background-color: @alternate-active-background;
}

#window {
    background-color: @background;
}
#mainbox {
}
#message {
    border-color: @separatorcolor;
}
#scrollbar {
    handle-color: @normal-foreground;
}
#sidebar {
    border-color: @separatorcolor;
}
#button selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
#inputbar, case-indicator, entry, prompt, button {
    text-color:      @normal-foreground;
}
